<div class="{{classPrefix}} {{classPrefix}}-{{level}}">
  {{#if close}}
    <span data-role="close" class="close">×</span>
  {{/if}}
  {{#if icon}}
    <span class="iconfont iconfont-{{icon}}"></span>
  {{/if}}
  {{#if msg}}
    <div class="msg">{{{msg}}}</div>
  {{/if}}
</div>
