<div class="{{classPrefix}}">
  {{#with userdata.org_exinfo}}
  <ul>
    {{#if org_name}}
      <li><span class="{{@root.classPrefix}}-label">单位：</span><span class="{{@root.classPrefix}}-value">{{org_name}}</span></li>
    {{/if}}
    {{#if node_name}}
      <li><span class="{{@root.classPrefix}}-label">部门：</span><span class="{{@root.classPrefix}}-value">{{node_name}}</span></li>
    {{/if}}
  </ul>
  {{/with}}
</div>
